[access]
	inheritFrom = All-Projects
[project]
	description = AAI Traversal Micro Service providing REST APIs for traversal/search of inventory resources
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/onap-gerrit-aai-traversal-committers
	owner = group saml/onap-gerrit-aai-traversal-committers
